<!DOCTYPE html>
<html lang="en" class="h-full">
   <head>
   <meta charset="utf-8">
   <meta name="description" content="This is where your description goes">
   <meta name="keywords" content="one, two, three">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600;800&display=swap" rel="stylesheet">	
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <title>Re:mind</title>
		<link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="min-h-screen bg-textbox">
    <header class="flex justify-between px-2 bg-gradient-to-r from-gray-800 to-gray-400 w-full z-10 shadow-2xl lg:fixed">
      <div class="flex items-center space-x-4">
        <img class="background-slate-700 w-16" src="/imgs/doyou.png" alt="The logo for our awesome app">
        <h2 class="text-2xl font-bold text-white "> Meditate?  </h2>
<nav class="" >
  <!-- Mobile -->

      <div class="flex items-center justify-between md:hidden">
      <ul id="drawer" class="absolute inset-y-0 z-50 w-1/2 px-5 py-10 space-y-5 font-semibold transition-all -left-96 md:hidden bg-slate-50 bg-gradient-to-r from-gray-800 to-gray-400">
        <li>
          <div class="flex items-center space-x-4">
            <img class="background-slate-700" src="/imgs/doyou.png" alt="The logo for our awesome app">
            <!-- <h2 class="text-2xl text-white md:hidden">Meditate?</h2> -->
          </div>
        </li>
        <li class="text-white">
          <a href="/profile" class="nav-link">Home</a>
        </li>
        <li class="text-white">
          <a href="/exercises/completed" class="nav-link">Completed Exercise</a>
        </li>
        <li class="text-white">
          <a href="/exercises/favorites" class="nav-link">Favorites</a>
        </li>
        <li class="text-white">
          <a href="/exercises" class="nav-link">Exercises</a>
        </li>
        <li class="text-white">
          <a href="/exercises/new" class="nav-link">Add Exercise</a>
        </li>
        <% if (locals.user) { %>
          <li class="text-white">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        <% } else { %>
        <li class="text-white">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="text-white">
          <a href="/signup" class="nav-link">Sign Up</a>
        </li>
        <% } %>
      </ul>
   
    <button type="button" id="overlay" class="absolute inset-0 z-10 hidden w-full h-full bg-black/50"style="margin-left: 75px;"></button>
    </div>
  
  <!-- Desktop -->
  <ul class="hidden md:flex font-semibold space-x-4 pl-3 pt-1 ">
    <li class="font-bold text-white hover:text-gray-700">
      <a href="/profile" class="nav-link">Home</a>
    </li>
    <li class="font-bold text-white hover:text-gray-700">
      <a href="/exercises/completed" class="nav-link">Completed Exercise</a>
    </li>
    <li class="font-bold text-white hover:text-gray-700">
      <a href="/exercises/favorites" class="nav-link">Favorites</a>
    </li>
    <li class="font-bold text-white hover:text-gray-700">
      <a href="/exercises" class="nav-link">Exercises</a>
    </li>
    <li class="font-bold text-white hover:text-gray-700">
      <a href="/exercises/new" class="nav-link">Add Exercise</a>
    </li>
    <% if (locals.user) { %>
      <li class="font-bold text-white hover:text-gray-700">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
    <% } else { %>
    <li class="font-bold text-white hover:text-gray-700">
      <a href="/login" class="nav-link">Login</a>
    </li>
    <li class="font-bold text-white hover:text-gray-700">
      <a href="/signup" class="nav-link">Sign Up</a>
    </li>
    <% } %>
  </ul>
  <button id="hamburger" type="button" class="mt-3 md:hidden">
    <img src="/imgs/hamburger-menu.svg" alt="mobile menu button">
  </button>
</nav>
    </header>
    <main class="flex-grow px-10 pt-24 md:px-0 md:mx-auto md:w-6/12 lg:w-10/12 xl:w-8/12 2xl:w-6/12">
