<%- include('partials/logged-in-header') -%>
<div class="container card-container" >
    <div class="row justify-content-center mb-5 min-h-screen" >
        <div class="col-6">
    <div class="">
      <h2 class="text-3xl" id="post">Add a post</h2>
      <p>Be sure to add multiple items on seperate lines</p>
    </br>
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <label class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="imageUpload">Include One Picture or Piece of Art</label>
          <input type="file" class=" form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="imageUpload" name="file">
        </div>
        <div class="mb-3">
            <label for="seven" class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Seven things you did/ things around you/ of something </label>
            <textarea type="text" class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="seven" name="seven"placeholder="Add items on seperate lines"></textarea>
        </div>
        <div class="mb-3">
          <label for="five" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Five thing you're grateful for</label>
          <textarea rows="6" class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="five" name="five" placeholder="Add items on seperate lines"></textarea>
        </div>  
        <div class="mb-3">
          <label for="three" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Three thing to work on</label>
          <textarea rows="4" class="form-control lock w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="three" name="three"placeholder="Add items on seperate lines"></textarea>
        </div>
        <div class="mb-3">
          <label for="one" class="form-label form-label block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">One Positive Affirmation About Self</label>
          <textarea class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="one" name="one"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mb-5" value="Upload">Submit</button>
      </form>
    </div>

    <%- include('partials/footer') -%>
