<%- include('partials/logged-in-header') -%>
<div class="container0 pt-36">
  <div class="max-w-lg mx-auto bg-white shadow-md rounded-lg overflow-hidden">
    <div class="bg-texture1 text-gray-700 text-center py-3 px-4">
      <h2 class="text-xl font-semibold uppercase">Add a Post</h2>
      <p class="text-sm">Be sure to add multiple items on separate lines</p>
    </div>
    <div class="p-4 bg-texture1 pb-20 shadow-xl">
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="imageUpload">
            Include One Picture or Piece of Art
          </label>
          <input type="file" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="imageUpload" name="file">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="seven">
            Seven Things You Did/Things Around You/Of Something
          </label>
          <textarea class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="seven" name="seven" placeholder="Add items on separate lines"></textarea>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="five">
            Five Things You're Grateful For
          </label>
          <textarea rows="6" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="five" name="five" placeholder="Add items on separate lines"></textarea>
        </div>  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="three">
            Three Things to Work On
          </label>
          <textarea rows="4" class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="three" name="three" placeholder="Add items on separate lines"></textarea>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="one">
            One Positive Affirmation About Self
          </label>
          <textarea class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="one" name="one"></textarea>
        </div>
        <button type="submit" class="text-base font-medium text-white border border-transparent rounded-md shadow-sm bg-gray-800 hover:bg-coral-dark  btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</div>

    <%- include('partials/footer') -%>
