<%- include('partials/header') -%>


<div class="hero min-h-screen bg-base-200 pt-10">
    <div class="hero-content text-center">
      <div class="max-w-md mr-0 pb-48">
            <a href="/" class="container mx-auto flex px-5 py-1  items-center justify-center flex-col">
                <img class="lg:w-5/6 md:w-3/6 w-3/6 mb-10 object-cover object-center rounded" alt="hero" src="/imgs/doyou.png">
            </a>
        <h1 class="text-5xl font-bold">Hello there</h1>
        <p class="py-6">Do you ever find yourself focusing on negative things?</p>
        <a class="btn btn-primary" href="/about#next" role="button">DoYou?</a>
      </div>
    </div>
  </div>
  <div class="hero min-h-fit bg-base-200 pt-20 px-20">
    <div class="hero-content flex-col lg:flex-row sm:w-auto">
      <img src="/imgs/factory.png" class="max-w-sm rounded-lg mr-5" id="next" />
      <div>
        <h1 class="text-5xl font-bold">DoYou?</h1>
        <p class="py-2">
            Instead of being grateful for the things you have and the people in your life, do you find yourself thinking about what you don't have or who isn't there?</p>
            <p class="pb-6">If so, it's time to make a change. You deserve to focus on what makes you happy and appreciative, instead of dwelling on all of the bad things that happen in life.
            </p>
        <a class="btn btn-outline btn-accent" role="button" href="/about#tres">DoYou?</a>
      </div>
    </div>
  </div>
  <div class="hero min-h-fit bg-base-200 pt-20 px-20">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/imgs/7531.png" class="max-w-sm rounded-lg shadow-2xl" id="tres"/>
      <div>
        <h1 class="text-5xl font-bold">Good News!</h1>
        <p class="py-6">With Do You, we've created an app that helps you shift your mindset and focus on gratitude instead of negativity. We want to help you live a happier life by reminding you about the good things happening every day.</p>
        <a class="btn btn-outline btn-accent" role="button" href="/login">Login</a>
        <a class="btn btn-outline btn-accent" role="button" href="/signup">Sign Up</a>
      </div>
    </div>
  </div>




<%- include('partials/footer') -%>