<%- include('partials/header') -%>

      <section class="">
        <div class="flex px-10 pt-2 items-center flex-col style fade-in ">
          <img class="lg:w-2/6 md:w-3/6 w-5/6 " alt="hero" src="/imgs/doyou.png">
          <div class="text-center lg:w-3/3 w-full">
            <!-- <h1 class=" display-5 fw-bold lh-1 mb-4 text-align-center text-grey">doYou 7-5-3-1</h1> -->
            <!-- <p class="mb-8 leading-relaxed fw-bold text-gray">A sort of brainwashing; An exercise in focusing on the positive things happening around us and a place to share your journey with friends. doYou focuses on 7 things around us, 5 things we are grateful for, 3 things to work on today, and one positive affirmation.  </p> -->
            <div class="flex justify-center">
              <a class="btn btn-outline btn mr-10" href="/login" role="button">Login</a>
              <a class="btn btn-outline btn" href="/signup" role="button">Sign up</a>
            </div>
          </div>
        </div>
      </section>
     

    
<%- include('partials/footer') -%>