<%- include('partials/header') -%>

<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
     -->
     <div class="container col-xxl-8 px-5 py-1 card-container" >
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/imgs/artbg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="475" height="350" >
          </div>
          <div class="col-lg-6 pb-5 pl-20">
            <h1 class="display-5 fw-bold lh-1 mb-5 text-align-center">Let's doYou</h1>
            <p class="lead"><b> DoYou 7-5-3-1</b> is project that was inspired by my work at a methadone clinic and the Munko NFT discord channel.  I see it as a sort of brainwashing.  To focus on the positive things happening around us. 7 things around us, 5 things we are grateful for, 3 things to work on today, and one positive affirmation. Give it a try!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-12 pl-1">
              <a href="/signup" type="button" class="btn btn-outline-success btn-primary btn-lg">
                doYou Signup?
              </a>
              <a href="/login" type="button" class="btn btn-outline-success btn-primary btn-lg">
                doYou Login?
              </a>
              <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
            </div>
          </div>
        </div>
      </div>
    
      
      
        
    

    
<%- include('partials/footer') -%>