<%- include('partials/header') -%>
  
    <main class="flex flex-col items-center justify-center min-h-screen pb-35 bg-textbox">
      <div class="max-w-screen-lg px-8 py-10 md:px-16 lg:px-24 text-center items-center">
      
          <div class="mb-5 flex justify-center md:w-1/2 md:ml-48">
            <!-- <img
              src="/imgs/doyouimg.png"
              class="object-contain w-full h-auto pt-28 rounded-lg md:rounded-l-lg md:rounded-r-none  hover:scale-105 transform duration-500"
              alt="Abstract art background"
            /> -->
            </div>
        <h1 class="text-4xl lg:text-6xl font-bold text-gray-800 mb-6 hover:scale-105 transform duration-500"><img src="/imgs/banner.png" alt=""></h1>
        <p class="text-xl lg:text-2xl font-medium text-gray-600 mb-12">We believe that self-care is essential for a healthy and fulfilling life. That's why we provide you with the tools to create a positive and empowering daily routine. Whether it's through reflection, mindfulness, or personal growth, we encourage you to take the time to prioritize your mental and emotional well-being.</p>
        <a href="/signup" class="ml-auto text-white bg-gray-800 hover:bg-coral-dark py-2 px-4 rounded-full shadow font-bold btn-sm  ">Sign Up Now</a>
        <a href="/login" class="ml-auto text-white bg-gray-800 hover:bg-coral-dark py-2 px-4 rounded-full shadow font-bold btn-sm" >   Sign In   </a>
      
     